<app-menu></app-menu>
<body class="box">
  <h1>Lascia una recensione</h1>
  <div class="myreview">
  <form [formGroup]="newReview" (ngSubmit)="saveReview()">
    <div class="text-area">
    <label class="title-input">Scrivi la tua recensione<br>
    <mat-form-field class="matForm" appearance="fill">
      <mat-label class="title-input" style="font-size: 10pt"><i>Cosa ti è piaciuto e cosa non ti è piaciuto?</i></mat-label>
      <textarea matInput rows="10" cols="40" formControlName="text"></textarea>
    </mat-form-field></label><br>

    <label class="title-input2">Valutazione complessiva<br>
        <mat-slider style="width: 500px; arial-color: #ffdcbd; " thumbLabel min="1" max="5" step="1" formControlName="rating"></mat-slider>
    </label>

    <div class="button">
    <button class="btn btn-insert">Invia</button></div></div>
  </form>
  </div>
</body>
