.box{
  font-family: Calibri;
  width: 85%;
}

.myreview{
  height: 600px;
  margin-left:30px;
  float: left;
}
.title-input{
  font-size: 130%;
  color: #666f78;
  padding: 20px;
}

.title-input2{
  font-size: 130%;
  color: #666f78;
  padding: 20px;
}

.text-area{
}

.matForm{
  width: 600px;
  margin-top: 10px;
}

h1{
  font-size: 40pt;
  margin-left: 50px;
  color: #666f78;
  margin-top: 40px;
  margin-bottom: 50px;
}

textarea{
  width: 600px;
}

.btn-insert{
  font-size: 20px;
  background-color: blue;
  width: 30%;
  height: 25%;
  color: aliceblue;
  border: black;
  size: 20px;
  padding: 20px;

}

.button{
  text-align: right;
}

.btn{
  margin-bottom: 30px;
}
