/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body { height: 100%; background-color: #ffdcbd; }
body { margin: 0; margin-right: auto; margin-left: auto; font-family: Calibri }
