<div class="box">
  <h1>Welcome</h1>
  <h2 style="font-size: 50px; color: dodgerblue; padding-top:40px">to</h2>
  <div class="title">Home Chef</div>
  <div class="logo">
    <img src="logo3.png">
  </div><br>
  <img class="imageUser" [src]="img"><br>
  <label>{{name}}</label><br>
  <button class="link" (click)="goLogin()"><h2>Non sei tu?</h2></button><br>

  <button class="btn btn-primary" (click)="goHome()">Continua</button>
</div>
