.box{
  margin-top: 50px;
  border: #353e47;
  text-align: center;
  font-family: "Calibri";
}

.title{
  font-family: Monaco;
  font-style: italic;
  font-size:6vw;
  padding: 50px;
  color: #675d53;
}

h1{
  color: dodgerblue;
  font-size: 70pt;
}

label{

}

img{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

label{
  font-size: 20pt;
  padding: 30px;
  color: #505961;
}


h3{
  font-family: "Calibri";

}

.imageUser{
  border-radius: 50%;
  width: 15%;
}

.link{
  border: 3pt solid #ffdcbd;
  background-color: #ffdcbd;
  color: #505961;
}

.btn{
  font-size: 15pt;
  padding: 15px;
}
