<app-menu></app-menu>
<div class="container">
  <h1 class="h1">Profilo Utente</h1>
  <div class="profile">
  <img class="imgP" [src]="img">
    <div class="descriptionP">
      <label style="color: #666f78">Nome: </label> {{user.name}} {{user.surname}}<br>
      <label style="color: #666f78">Citta:  </label> -<br>
      <label style="color: #666f78">Anni: </label> - <br>
      <label style="color: #666f78">Email:</label> {{user.email}}<br>
      <label style="color: #666f78" *ngIf="userId==currentUser">ID USER: {{userId}}<br></label>
      <div *ngIf="average!=null"><label style="color: #666f78; font-size: 20px">Classificazione: </label><br>
        <div style="display: inline-block; margin-top: 10px">
        <div *ngFor="let numb of numbers" style="display: inline-block">
          <div class="fa fa-star checked" style="display: inline; margin-left: 5px" ></div>
        </div>
        <div *ngFor="let white of whiteStar" style="display: inline-block">
          <span class="fa fa-star" style="display: inline; margin-left: 5px"></span>
        </div>
        </div>
      </div>
    </div>
  <div>
    <h3 class="subtitle">Le recensioni di {{user.name}}</h3>
    <div *ngIf="reviewLenght>0">
    <div  *ngFor="let review of reviews; let k=index">
      <div *ngIf="k<3"  routerLink="/responses/addReviewResponse/{{review.idReview}}"  class="reviewProfile">
        <a style="color: black" routerLink="/users/profile/{{review.user.idUser}}">
        <img style="margin-right:10px;float: left;border-radius: 50%;width: 30px; height: 30px" src="http://graph.facebook.com/{{review.user.facebookId}}/picture?type=square">
         {{review.user.name}} {{review.user.surname}}</a>, {{review.date}} <br>
        <b>Piatto:</b> <a style="color: black" routerLink="/insertions/{{review.insertion.idInsertion}}"> {{review.insertion.title}}</a><br>
        <div style="margin-top: 5px;margin-left: 40px">
        <div *ngFor="let vote of rating; let j=index" style="display: inline-block; margin-top: 5px;">
          <div *ngIf="j<review.rating" style="display: inline-block">
            <div class="fa fa-star rating checked" style="display: inline; margin-right: 5px; font-size: 15px" ></div>
          </div>
          <div *ngIf="j>=review.rating" style="display: inline-block">
            <div class="fa fa-star rating" style="display: inline; margin-right: 5px; font-size: 15px" ></div>
          </div>
        </div> <br>
         <i>"{{review.text}}"</i><br>
        </div>
    </div><br>
    </div>
      <a style="margin-top: 40px" class="linkToAll" href="reviews/viewReview/{{user.idUser}}"><i><u>Guarda tutte le recensioni di {{user.name}}...</u></i></a>
  </div>
    <div *ngIf="reviewLenght==0">Non ci sono recensioni</div>
  </div>
    <div  style="margin-top: 30px">
      <h3 class="subtitle">I prodotti di {{user.name}}</h3>
      <div  class="review" *ngIf="ilenght>0">
        <div style="margin-bottom: 30px" *ngFor="let insertion of insertions; let j= index">
          <div *ngIf="j<3" class="item-insertion" routerLink="/insertions/{{insertion.idInsertion}}">
            <div class="immagine" >
              <img class="imgI" [src]="this.imagestoShow.get(insertion.idInsertion)">
            </div>
            <div class="description">
              <label class="title"><b>{{insertion.title}}</b></label>
              {{insertion.city}}, {{insertion.date}}<br>
              <b>Prodotto da:</b>     {{insertion.user.name}} {{insertion.user.surname}}<br>
              <b>Descrizione: </b>
              {{insertion.description}}<br>
              <b>Ingredienti:</b> {{insertion.ingredients}}<br>
              <b>Prezzo:</b>    € {{insertion.price}}<br>
              <p class="desc" *ngIf="insertion.published==true"> L'insertione e': <b style="color: green">IN VENDITA</b></p>
              <p class="desc" *ngIf="insertion.published==false"> L'inserzione è: <b style="color: red">VENDUTA</b></p>
            </div>
          </div>
        </div>
        <a class="linkToAll" href="insertions/profile/{{user.idUser}}"><i><u>Guarda tutti i piatti proposti da {{user.name}}...</u></i></a>
      </div>
      <div *ngIf="ilenght==0">Non ha ancora cucinato piatti</div>
    </div>
      <div style="margin-top: 30px">
        <h3 class="subtitle">Le richieste di {{user.name}}</h3>
        <div class="review" *ngIf="rlenght>0">
          <div style="margin-bottom: 30px" *ngFor="let request of requests; let i = index;">
            <div class="item-insertion" *ngIf="i<3">
              <div class="description" routerLink="/requests/{{request.idRequest}}">
                <label class="title"><b>{{request.title}}</b></label>
                {{request.city}}, {{request.date}}<br>
                <b>Prodotto da:</b>     {{request.user.name}} {{request.user.surname}}<br>

                {{request.text}}<br>
                <p class="desc" *ngIf="request.active==true"> L'insertione e': <b style="color: green">IN VENDITA</b></p>
                <p class="desc" *ngIf="request.active==false"> L'inserzione è: <b style="color: red">VENDUTA</b></p>
              </div>
            </div>
          </div>
          <a class="linkToAll" href="requests/viewRequests/{{user.idUser}}"><i><u>Guarda tutti i piatti richiesti da {{user.name}}...</u></i></a>
        </div>
        <div *ngIf="rlenght==0">Non ha ancora richiesto piatti</div>
  </div>
  <div style="margin-top: 30px">
    <h3 class="subtitle">Il suo ricettario</h3></div>
  <div style="margin-top: 60px">
    <h3 class="subtitle">La Photo Gallery</h3></div>
  <button *ngIf="userId!=currentUser" class="btn" type="button" (click)="goToChat()">Contatta</button>
</div>
</div>

