.container{
  width: 85%;
  font-family: Calibri;
  margin-right: auto;
  margin-left: auto;
}

.reviewProfile{
  cursor: pointer;
  margin-bottom: 20px;
  border-bottom: 1pt #675d53 solid;
  padding: 20px;
  width: 50%;
}

.reviewProfile:hover{
  border-radius: 20px;
  box-shadow: 2px 2px 1px #675d53;
}

.checked{
  color: #e86c00;
}

.rating{
  font-size: 30px;
}

.fa {
  font-size: 25px;
}

.profile{
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.descriptionP{
  margin-bottom: 80px;
}

ng-scrollbar.virtual-scroll {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: grey;
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;

  margin: 1em;
  height: 200px;
  max-height: 200px;
  border-radius: 6px;
  border: 1px solid #675d53;
  overflow: hidden;
}

.review{
  width:80%;
  line-height:1em;
  border-radius: 15px 15px 15px 15px;
  color: #666f78;
  margin-left: auto;
  margin-right: 200px;
  float: left;
  margin-bottom: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #353e47;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666f78;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#666f78;
}

.h1{
  font-size:30pt;
  color: #666f78;
  padding: 20px;
  margin-top: 40px;
}

.item-insertion{
  border-bottom: 1pt solid #675d53;
  cursor: pointer;
  padding:15px;
  cursor: pointer;
}

.item-insertion:hover{
  border-radius: 20px;
  box-shadow: 2px 2px 1px #675d53;
}

.linkToAll{
  font-size: 15pt;
  margin-left: 350px;
}

.btn{
  color: mediumblue;
  background-color: mediumturquoise;
  border-color: darkblue;
  border-radius: 10px 10px 10px 10px;
  border-width: 2pt;
  font-family: Calibri;
  font-size: 20px;
  float: right;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-right: 100px;
}

.subtitle{
  font-size: 20pt;
  color: #666f78;
}

.img{
  height: 87px;
  width: 54px;
  float: left;
}

.imgP{
  border-radius: 30px 30px 30px 30px;
  width:200px; height:200px;
  margin-right: 30px;
  float: left;
}

.imgI{
  border-radius: 30px 30px 30px 30px;
  width:110px; height:110px;
}

a{
  margin-top: 5px;
}

.immagine{
  float:left;
  margin-right: 20px;
  padding-bottom: 10px;
}

.description  {
  padding: 10px;
}

