<app-menu></app-menu>
<div class="box">
  <div class="review">
    <div class="descriptionReview">
      <a style="color: black" routerLink="/users/profile/{{review.user.idUser}}">
        <img style="margin-right:10px;float: left;border-radius: 50%;width: 30px; height: 30px" src="http://graph.facebook.com/{{review.user.facebookId}}/picture?type=square">
        {{review.user.name}} {{review.user.surname}}</a>, {{review.date}} <br>
      <b>Piatto:</b> <a style="color: black" routerLink="/insertions/{{review.insertion.idInsertion}}"> {{review.insertion.title}}</a><br>
      <div style="margin-top: 5px;margin-left: 40px">
        <div *ngFor="let vote of rating; let j=index" style="display: inline-block; margin-top: 5px;">
          <div *ngIf="j<review.rating" style="display: inline-block">
            <div class="fa fa-star rating checked" style="display: inline; margin-right: 5px; font-size: 15px" ></div>
          </div>
          <div *ngIf="j>=review.rating" style="display: inline-block">
            <div class="fa fa-star rating" style="display: inline; margin-right: 5px; font-size: 15px" ></div>
          </div>
        </div> <br>
        <i>"{{review.text}}"</i><br>
      </div>
    </div>
  </div>
  <div class="reviewResponse" *ngIf="response==true">

    <div class="descriptionReview">
      <div style="font-size: 15px; margin-top: 30px;"><a routerLink="/users/profile/{{this.responseReview.user.idUser}}">
        <img style="margin-right:10px;float: left;border-radius: 50%;width: 30px; height: 30px" src="http://graph.facebook.com/{{responseReview.user.facebookId}}/picture?type=square">
        {{this.responseReview.user.name}} {{this.responseReview.user.surname}}</a>
     <br><br>
      <i style="margin-left: 50px">"{{this.responseReview.text}}"</i><br></div>
    </div>
  </div>
</div>
