.box{
  font-family: Calibri;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 85%;

}

.checked{
  color: #e86c00;
}

h1{
  font-size: 40pt;
  color: #666f78;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.myreview{
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 50px;
}

.review{
  margin-top: 50px;
  cursor: pointer;
  border-bottom: 1px solid #675d53;
  width: 60%;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 20px;
}

.reviewResponse{
  border-bottom: 1px solid #675d53;
  width: 60%;
  padding: 20px;
  float: right;
  border-radius: 10px 10px 10px 10px;
  margin-left: 20px;
}

.button {
  float: right;
  margin-top: 40px;

}

h2{
  text-align: center;

}

.btn{
  padding: 5px;
  height: 50px;
  background-color: mediumblue;
  color: white;
}

mat-icon{
  padding-right: 20px;
}

.text-area{
  float: right;
  width: 500px;
}

.button2{
  float: right;
  width: 100px;
  margin-left: 500px;
}

form{
  margin-right: 20px;
}

.title-input{
  font-size: 10pt;
}

a{
  color:black;
}
