.container{
  font-family: Calibri;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  text-align: center;
}

.firstDiv{
  text-align: center;
}

p{
  font-size: 15pt;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}


table{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

td{
  width: 600px;
}

.h1{
  font-size:30pt;
  color: #666f78;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.button1{
  background-image: url("img/activerequests.jpg");
  height: 133px;
  width: 100px;
  background-repeat: no-repeat;
}

.button2{
  background-image: url("img/dishrequest.jpg");
  height: 133px;
  width: 100px;
  background-repeat: no-repeat;
}
