<app-menu></app-menu>
<div class="container">
  <h1 class="h1">Richieste</h1>
  <div class="firstDiv">
    <p>In questa sezione potrai consultare le richieste di piatti attive e proporti come chef personale</p>
  </div>
  <br>
  <div class="secondDiv">
    <p>Se invece hai in mente un piatto in particolare che non hai trovato in vendita e hai bisogno che qualcuno lo prepari per te, ti basterà pubblicare una richiesta</p>
  </div>

  <div style="text-align: center">
  <table>
    <td class="firstColumn">
      <button (click)="viewActiveRequests()" class="button1"></button>
    </td>
    <td class="secondColumn">
      <button class="button2" (click)="insertNewRequest()"></button>
    </td>
  </table>
  </div>
</div>
