<div class="box">
  <section>
    <form>
      <table class="ricerca">
        <tr>
          <td class="searchColumn">
            <label class="title-form"><b>Portata:</b></label>
          </td>
          <td class="secondColumn">
            <b>Cosa vorresti mangiare?</b><br>
          </td>
          <td class="secondColumn">
            <b>Dove?</b><br>
          </td>
        </tr>
        <tr>
          <td>
            <input class="radio-button" type="radio" name="portata" value="all" checked>
            <label>Tutto</label>
          </td>
          <td>
            <input class="type" type="text" name="cibo" [(ngModel)]="title">
          </td>
          <td>
            <input class="type" type="text" name="city" [(ngModel)]="city">
          </td>
        </tr>
        <tr>
          <input class="radio-button" type="radio" name="portata" [(ngModel)]="course" value="antipasti"> <label>Antipasti</label><br>
        </tr>
        <tr>
          <input class="radio-button" type="radio" name="portata" [(ngModel)]="course" value="first"> <label>Primi Piatti</label><br>
        </tr>
        <tr>
          <input class="radio-button" type="radio" name="portata" [(ngModel)]="course" value="second"><label>Secondi Patti</label><br>
        </tr>
        <tr>
          <input class="radio-button" type="radio" name="portata" [(ngModel)]="course" value="dolce"><label>Dolce</label><br>
        </tr>
        <tr>
          <td></td><td></td>
          <td>
            <a routerLink="/insertions" (click)="search()" class="btn">Cerca</a>
          </td>
        </tr>
      </table>
    </form>
  </section>
</div>
<div class="vetrina">
  <h2><i>In vetrina:</i></h2>
  <table>
    <tr *ngFor="let insertion of insertions ">
      <td><img src="img/Pizza%20Margherita.jpg" width="150" height="130"></td>
      <td>
        <a routerLink="/insertions/:{{insertion.idInsertion}}" (click)="showElement(insertion.idInsertion)"><b>{{insertion.title}}</b></a>
        {{insertion.city}}, {{insertion.date}}
        <p class="desc">{{insertion.description}}, <b>Ingredienti:</b> {{insertion.ingredients}}</p>
        <p class="desc">€ {{insertion.price}}</p>
      </td>
    </tr>
  </table>

</div>
