.box{
  padding: 30px;
  margin-top: 150px;
  font-family: Arial;

}

section{
  margin-right: 10%;
}

.radio-button{
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

label{
  padding-left: 20px;
}

.title-form{

}

.type{
  width: 270px;
}

.portata{
  float: left;
  padding: 30px;
}

.check-portata{
  padding-top: 10px;
  padding-left: 30px;
}

.ricerca{
  padding: 30px;
}

.vetrina{
  padding-top: 50px;
  padding-left: 30px;
}

.img{
  height: 87px;
  width: 54px;
  float: left;
}

.list{
  display: inline;
}


a{
  color: black;
  font-family: Arial;
  margin-left: 30px;
  font-size: 20px;
}

.desc{
  margin-left: 31px;
  margin-top: 0px;
}

.btn{
  color: black;
  background-color: white;
  border-color: black;
  font-family: Arial;
  float: right;
  margin-top: 30px;
}

.searchColumn{
  width: 45%;
}

.secondColumn{
  width: 30%;
  float: top;
}
