.box{
  padding: 40px;
  font-family: Calibri;
}

.form{
  padding: 50px
}

form{
  margin-top: 40px;
  background-color: #ffdcbd;
  border: 5pt solid #353e47;
  border-radius: 30px 30px 30px 30px;
  height: 350px;
}

.name{
  font-size: 15px;

}


img{
  border-radius: 30px 30px 30px 30px;
  width:300px; height:300px;
  padding: 10px;
}

a{
  margin-top: 5px;
}

.immagine{
  float:left;
  margin-right: 20px;
}

.description  {
  padding: 10px;
}

h1{
  font-size: 50pt;
  color: #666f78;
  text-align: center;
  padding: 20px;
}

section{
  margin-right: 10%;

}

.radio-button{
  margin-left: 20px;
  width: 20px;
  height: 20px;
}


.title-form{
  font-size: 18px;
  color:#505961;
}

mat-radio-button{
  font-size: 15px;
  padding: 20px;
  margin-left: 50px;
  color:#666f78 ;
}

.type{
  width: 270px;
}

.portata{
  float: left;
  padding: 30px;
}


.check-portata{
  padding-top: 10px;
  padding-left: 30px;
}

.title{
  font-family: Calibri;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 30px;
}

.ricerca{
  padding: 30px;
}

.vetrina{
  padding-top: 50px;
margin-left: auto;
  margin-right: auto;
}

.img{
  height: 87px;
  width: 54px;
  float: left;
}

.list{
  display: inline;
}


a{
  color: black;
  font-family: Arial;
}

.desc{

  margin-top: 0px;
}

.btn{
  color: black;
  background-color: white;
  border-color: black;
  font-family: Arial;
  float: right;
  margin-top: 30px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  margin-right: 100px;
}

.itemFalse{
  border: 2pt solid #675d53;
  margin-button: 50px;
}

.itemTrue{
  border-bottom: 1pt solid #675d53;
  margin-bottom: 50px;
  cursor: pointer;
  padding: 20px
}

.itemTrue:hover{
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px #675d53;
}

.searchColumn{
  width: 45%;
}

.secondColumn{
  width: 30%;
  float: top;
}
