<div class="vetrina">
  <div class="item-insertion" *ngFor="let request of requests">
    <div class="itemTrue"  routerLink="/requests/{{request.idRequest}}">
      <div  class="immagine" >
        <div class="title">{{request.title}}</div><br>
      </div><br><br><br>
      <div class="description">
        <i>    {{request.city}}, {{request.date}}</i><br>
        <b>   Prodotto da:</b><a class="name" routerLink="/users/profile/{{request.user.idUser}}">     {{request.user.name}} {{request.user.surname}}</a><br>
        <b>    L'inserzione è:</b> <b *ngIf="request.active==true" style="color: green">    IN VENDITA</b>
        <b *ngIf="request.active==false" style="color: red">VENDUTA</b>
      </div>
    </div>
  </div>
</div>
