.conversation{
  cursor: pointer;
  border-bottom: 2px solid #675d53;
  border-radius: 10px;
  width: 113%;
  margin-left: 100px;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  font-family: Calibri;
  display: inline;
}

.classConv{
  margin-top: 20px;
}

.conversationTrue{
  cursor: pointer;
  border-bottom: 2px solid #675d53;
  border-radius: 10px;
  width: 113%;
  margin-left: 100px;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  font-family: Calibri;
  display: inline;
  background-color: white;
}

.conversation:hover{
  background-color: white;
}

.conversation:focus{
  background-color: white;
}


.titleConversation{
  color: darkgoldenrod;
  position: static;
  margin-left: 100px;
  margin-top: 60px;
  width: 113%;
  font-family: Calibri;
  font-size: 15pt;
  padding-bottom: 30px;
  padding-left: 20px;
  border-radius: 20px;
}


.name{
  font-family: Calibri;
  font-size: 10pt;

}

.message{
  font-size: 8pt;
  color: #666f78;

  margin-bottom: 20px;
  margin-left: 50px;
}


.box{
  display: inline;

  margin-left: 100px;
}

h1{
  font-size: 50pt;
  color: #666f78;

  margin-top: 50px;
}
