<div class="box">
  <div class="conv">
    <div class="titleConversation">
      <b>Le tue chat</b>
    </div>
    <div class="classConv" *ngFor="let item of messageMap | keyvalue">
      <div *ngFor="let item2 of conversUsers|keyvalue">
        <div *ngIf="item.key==item2.key">
          <div *ngIf="item.value.idReceiver!=receiver" (click)=goToChat(item.value.idSender,item.value.idReceiver) class="conversation">
            <div> <img style="border-radius: 50%;width: 40px; height: 40px" src="http://graph.facebook.com/{{item2.value.facebookId}}/picture?type=square">
              {{item2.value.name}} {{item2.value.surname}}</div>
            <div class="message"> {{item.value.msg_text}}</div>
          </div>
          <div *ngIf="item.value.idReceiver==receiver" (click)=goToChat(item.value.idSender,item.value.idReceiver) class="conversationTrue">
            <div ><img style="border-radius: 50%;width: 40px; height: 40px" src="http://graph.facebook.com/{{item2.value.facebookId}}/picture?type=square">
              {{item2.value.name}} {{item2.value.surname}}</div>
            <div class="message"> {{item.value.msg_text}}</div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

