.container{
  font-family: "Arial";
  background-color: #ffdcbd;
}


.box{
  margin-top: 100px;
  text-align: center;
}

header{
  margin-top: 5px;
  padding-bottom: 30px;
}

.title{
  font-family: berkshire_swash;
  font-style: italic;
  font-size:5vw;
  text-align: left;
  color: black
}

.sinistro{
  float: left;
}

.destro{
  float: right;
  margin-top:40px ;

}

.list-inline-item{

}

.btn{
  color: black;
  background-color: white;
  border-color: black;
}

.title-first-page{
  font-size: 150px;
  font-family: Arial;
  margin-top: 10%;
}

.button-first-page{
  width: 50%;
  height: 30%;
}

p{
  color: #353e47;
  font-family: berkshire_swash;
  font-size: 15pt;
}

img{
  margin-left: 30px;
}


