<app-menu></app-menu>
<div class="container">
    <div *ngIf="insertion">
      <h1 class="h1">{{insertion.title}}</h1>
      <div class="box">
        <p class="minititle"><b>Preparato da: </b><a href="users/profile/{{insertion.user.idUser}}">{{insertion.user.name}} {{insertion.user.surname}}</a></p>
        <p class="minititle"><b><i>Pubblicato il: </i></b>{{insertion.date}}</p>
        <table>
          <tr>
      <td class="image"><img [src]="imagesToShow.get(insertion.idInsertion)" width="300px" height="250px"></td>
      <td class="sottotitolo">
        <p class="minititle"><b>Città: </b>{{insertion.city}}</p>
        <p class="minititle"><b>Numero porzioni: </b>{{insertion.servings}} </p>
        <p class="minititle"><b>Scadenza prevista: </b>{{insertion.expiration}}</p>
        <p class="minititle"><b>Ingredienti: </b>{{insertion.ingredients}}
        <p class="minititle"><b>Prezzo: </b>€ {{insertion.price}}</p>
        </td></tr></table>
      <p class="minititle"><b>Descrizione </b><br><br>{{insertion.description}}
      <p class="minititle" *ngIf="insertion.published==true"><i><b> Stato inserzione:</b> <b style="color: green">    IN VENDITA</b></i></p>
      <p class="minititle" *ngIf="insertion.published==false"><i><b> Stato inserzione:</b> <b style="color: red">     VENDUTA a  </b>{{this.userPurchase.name}}</i></p>
        <button *ngIf="reviewBool==true" class="linkToAll" (click)="goToReview()"><i><u>Guarda la recensione...</u></i></button>
        <div class="button" *ngIf="insertion.user.idUser!=userId">
      <mat-button-toggle-group *ngIf=" reviewBool==true || insertion.published==true || userId!=userPurchase.idUser">
        <mat-button-toggle (click)="goToChat(insertion.user.idUser)">
          <mat-icon>comment</mat-icon>Contatta {{insertion.user.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>
        <mat-button-toggle-group  *ngIf="reviewBool==false && insertion.published==false && userId==userPurchase.idUser">
          <mat-button-toggle style="background-color: #e86c00;color:white" (click)="addReview()">
            <mat-icon>comment</mat-icon>Scrivi una recensione a {{insertion.user.name}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
        <div *ngIf="userId==insertion.user.idUser" style="display: inline-block">
          <form *ngIf="insertion.published==true" (ngSubmit)="selling(insertion.idInsertion)">
            <div [formGroup]="newPurchase">
              <label class="vendutaa">Assegna all'utente:
              <mat-form-field style="width: 200px;" formGroupName="user">
                <input matInput  type="text" placeholder="Digita il codice utente" formControlName="idUser"></mat-form-field></label><br>
                <button class="btn vendita" type="submit">
                  <mat-icon>done</mat-icon>Contrassegna come Venduta
                </button>
            </div>
          </form>
          <button *ngIf="insertion.published==true"  class="btn canc" (click)="delete(insertion.idInsertion)">
            <mat-icon>delete</mat-icon>Elimina
          </button>
          <div class="button">
          <mat-button-toggle-group *ngIf="insertion.published==false">
            <mat-button-toggle (click)="goToChat(userPurchase.idUser)">
              <mat-icon>comment</mat-icon>Contatta {{userPurchase.name}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          </div>
      </div>
      </div>
        </div>
</div>
