.container{
  width: 85%;
  font-family: "Calibri";
}

.box{
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  display: inline-block;
  font-size: 20pt;
}

h1{
  font-size: 35pt;
  color: #666f78;
  margin-top: 50px;
  padding-left: 40px;
  margin-bottom: 50px;
}

h2{
  font-size: 15pt;
  color: #505961;
  margin-top: 15px;
}

mat-button-toggle-group{
  margin-top: 30px;
}

mat-button-toggle{
  padding: 10px;
  font-size: 10pt;
}

.vendita{
  background-color:  #078c00;
  color: white;
  padding: 10px;
  margin-top: 30px;
  font-size: 13pt;
  height: 60px;
  float: right;
  display: inline;
}

.linkToAll{
  background-color: #ffdcbd;
  color: dodgerblue;
  border: 2pt;
  font-family: Calibri;
  font-size: 15pt;
  margin-top: 20px;
  float: left;
  margin-right: 500px;
}

.vendutaa{
  font-size: 15pt;
}


.canc{
  background-color: #a30b0b;
  color: white;
  padding: 10px;
  display: inline;
  font-size: 13pt;
  height: 60px;
  float: left;
  margin-top: 30px;
}

.sottotitolo{
  font-size: 13pt;
  width: 50%;
  padding: 20px;
  float: top;
}

.minititle{
  font-size: 15pt;
  margin-bottom: 30px;
}

.image{
  width: 50%;
  padding-bottom: 30px;
}

.desc{
  padding: 30px
}

.descIns{
  font-size: 18pt;
  padding-top: 30px;
}

.button{
  float: right;
  margin-right: 100px;
}
