.container{
  font-family: Calibri;
  width: 85%;
}

.matMenu{
  left: 100px;
  background-color: #353e47;
}
a{
  width: 40px; height: 40px;margin-left: 30px;
}


.box{
  margin-top: 130px;
  background-color: #353e47;
  border-radius: 10px 10px 10px 10px;
  padding: 8px;
  color:white;
  text-align: center;
}

header{
  margin-top: 5px;
}

.title{
  font-family: Monaco;
  font-style: italic;
  font-size:5vw;
  text-align: left;
  color: #675d53;
}

.sinistro{
  float: left;
  margin-top: 40px;
}

.destro{
  float: right;
  margin-top:2% ;

}

.btn{
  color: black;
  background-color: white;
  border-color: black;
}

.title-first-page{
  font-size: 150px;
  font-family: Arial;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

.button-first-page{
  width: 50%;
  height: 30%;
  margin-left: 25%;
  margin-right: 15%;
}

p{
  color: #353e47;
  font-family: berkshire_swash;
  font-size: 13pt;
}

.mat{
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
  width: 70px;
  border-radius: 50%; height: 70px;
  float: right;
}

.submenu{
  background-color: #353e47; color: white;
}

.submenu:hover{
  background-color: #505961;
}

.mynavbar{
  color: white;
  font-family: Calibri;
  font-size: 13pt;
  background-color: #353e47;
  border: #666f78;
  margin-right: 40px;
}

.menumynavbar{
  font-family: Calibri;
  color: #666f78;
  display: inline;

}
