<div class="container navbar-expand-lg" >
  <header>
    <div class="sinistro">
      <a class="title" href="https://localhost:4200/home">
        <b>{{ title }}</b>
      </a>
    </div>
    <div class="destro">
      <div class="list-inline-item">
         <div class="list-inline-item" style="display: inline">
           <p style="margin-right: 40px; margin-top: 30px; float: left"><a class="menumynavbar" href="/home">Home      </a>
          <a class="menumynavbar" href="/users/profile/{{userId}}">{{name}}</a></p>
          <input  class="mat" type="image" mat-raised-button matMenuTriggerData="{name: 'Profilo'}" [src]="img" [matMenuTriggerFor]="profileMenu">
      </div>
          <mat-menu #profileMenu='matMenu'>
            <ng-template class="matMenu" matMenuContent let-name="name">
              <button class="submenu" mat-menu-item (click)="goToProfile()">Profilo</button>
              <button class="submenu" mat-menu-item (click)="goToMyChats()">I tuoi messaggi</button>
              <button class="submenu" mat-menu-item (click)="goToMyInsertions()">I tuoi piatti</button>
              <button class="submenu" mat-menu-item (click)="goToMyPurchase()">Acquisti completati</button>
              <button class="submenu" mat-menu-item (click)="goToMyRequests()">Le tue richieste</button>
              <button class="submenu" mat-menu-item (click)="logout()">Logout</button>
            </ng-template>
          </mat-menu>
      </div>
    </div>
  </header>
  <div class="box">
      <button class="mynavbar" matMenuTriggerData="{name: 'PropostePiatti'}" [matMenuTriggerFor]="inserzioni">Piatti</button>
      <button class="mynavbar" matMenuTriggerData="{name: 'PiattiRichiesti'}" [matMenuTriggerFor]="richieste">Richieste piatti</button>
      <button class="mynavbar" matMenuTriggerData="{name: 'Economiche'}" (click)="giveInsertionOrderPriceA()" >I più economici</button>
      <button class="mynavbar" matMenuTriggerData="{name: 'Recenti'}" [matMenuTriggerFor]="recenti">I più recenti</button>
  </div>

  <mat-menu  #inserzioni='matMenu' xPosition="after" yPosition="above">
  <ng-template matMenuContent let-name="name">
    <button class="submenu" mat-menu-item (click)="goToAddInsertion()">Vendi il tuo piatto</button>
    <button class="submenu" mat-menu-item (click)="goToActiveInsertions()">Acquista un piatto</button>
  </ng-template>
  </mat-menu>
    <mat-menu #richieste='matMenu' xPosition="after" yPosition="above">
  <ng-template class="link" matMenuContent let-name="name">
    <button class="submenu" mat-menu-item (click)="goToAddRequest()">Richiedi un piatto</button>
    <button class="submenu" mat-menu-item (click)="goToActiveRequest()">Consulta richieste attive</button>
  </ng-template>

  </mat-menu>

  <mat-menu #recenti='matMenu' xPosition="after" yPosition="above">
    <ng-template class="link" matMenuContent let-name="name">
      <button class="submenu" mat-menu-item (click)="giveInsertionOrderDateD()">InserzioniRecenti</button>
      <button class="submenu" mat-menu-item (click)="giveRequestOrderDateA()">RichiesteRecenti</button>
    </ng-template>
  </mat-menu>
  <mat-menu #scadenza='matMenu' xPosition="after" yPosition="above">
    <ng-template class="link" matMenuContent let-name="name">
      <button class="submenu" mat-menu-item (click)="giveInsertionOrderDateD()">Inserzioni</button>
      <button class="submenu" mat-menu-item (click)="giveRequestOrderDateD">Richieste</button>
    </ng-template>
  </mat-menu>
</div>

