.h1{
  font-size: 40pt;
  margin-top: 40px;
  margin-left: 20px;
  color: #666f78;
}

.box{
  width: 85%;
  font-family: Calibri;
  margin-left: auto;
  margin-right: auto;
}

.checked{
  color: #e86c00;
}

.myreview{
  border-bottom: 1pt solid #666f78;

  width: 50%;
  margin-top: 60px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.description{
  padding: 10px;
  cursor:pointer;
}

.btn-insert{
  font-size: 15px;
  background-color: dodgerblue;
  color: white;
  border: 1pt solid black;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  float: right;
}

.button{
  text-align: right;
}

