<app-menu></app-menu>
<div class="box">
  <h1 class="h1">Le recensioni di {{user.name}}</h1>
    <div class="myreview" *ngFor="let review of reviews ">
      <div routerLink="/responses/addReviewResponse/{{review.idReview}}" class="description">
        <a style="color: black" routerLink="/users/profile/{{review.user.idUser}}">
          <img style="margin-right:10px;float: left;border-radius: 50%;width: 30px; height: 30px" src="http://graph.facebook.com/{{review.user.facebookId}}/picture?type=square">
          {{review.user.name}} {{review.user.surname}}</a>, {{review.date}} <br>
        <b>Piatto:</b> <a style="color: black" routerLink="/insertions/{{review.insertion.idInsertion}}"> {{review.insertion.title}}</a><br>
        <div style="margin-top: 5px;margin-left: 40px">
          <div *ngFor="let vote of rating; let j=index" style="display: inline-block; margin-top: 5px;">
            <div *ngIf="j<review.rating" style="display: inline-block">
              <div class="fa fa-star rating checked" style="display: inline; margin-right: 5px; font-size: 15px" ></div>
            </div>
            <div *ngIf="j>=review.rating" style="display: inline-block">
              <div class="fa fa-star rating" style="display: inline; margin-right: 5px; font-size: 15px" ></div>
            </div>
          </div> <br>
          <i>"{{review.text}}"</i><br>
        </div>
      </div>
    </div>
</div>
