<app-menu></app-menu>
<section class="box" routerLink="/home">
  <div class="backgroundFirst">
      <label><b class="p-home1">Hai esagerato con le quantità?</b><br>
      <button (click)="addInsertion()" class="btn btn-home1">Vendi ciò che hai preparato</button></label>
  </div>
  <div class="backgroundSecond">
        <label><b class="p-home2">Non puoi cucinare? No problem</b><br>
        <button (click)="viewInsertions()"  class="btn btn-home2">Scopri cos'è in vendita</button></label>
  </div>
    <div class="backgroundThird">
      <div >
        <label><b class="p-home3">Vuoi cucinare per qualcuno?</b><br>
          <button (click)="viewRequests()" class="btn btn-home3">Scopri chi potrebbe aver bisogno di te</button></label>
      </div>
  </div>
</section>
