.box{
  background-color: #ffdcbd;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.backgroundFirst{
  margin-top: 40px;
  background: url("img/img1TagliataMario.jpg") no-repeat ;
  background-position: center;
  max-width: 100%;
  width: 100%;
  height: 380px;
  text-align: center;
  border-radius: 20px;
  border-bottom: 3pt solid darkred;
}

label{
  margin-top: 150px;
}

.btn-home1{
  color: white;
  font-size: 20px;
  background-color: red;
  border-color: darkred;
  border-width: 2pt;
  width: 500px;
  height: 50px;
}

.p-home1{
  color: #8b0000;
  font-size: 18pt;
}

.backgroundSecond{
  background: url("img/img2Tagliata.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 380px;
  margin-top: 40px;
text-align: center;
  border-radius: 20px;
  border-bottom: 3pt solid darkblue;
}

.p-home2{
  color: darkblue;
  font-size: 18pt;
}

.p-home3{
  color: #078c00;
  font-size: 18pt;
}

.btn-home3{
  font-size: 20px;
  color: white;
  background-color: #078c00;
  border:2pt solid darkgreen;
  width: 500px;
  height: 50px;
}

.btn-home2{
  font-size: 20px;
  color: white;
  background-color: blue;
  border-color: darkblue;
  border-width: 2pt;
  width: 500px;
  height: 50px;
}

.second-box{
  margin-top: 5px;
}

.backgroundThird{
  background: url("img/img3TagliataMario.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 380px;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  border-bottom: 3pt solid darkgreen;
}

.home3{
  color: #078c00;
}
