.box{
  width:80%;
  height:600px;
  line-height:1em;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color:#714D03;
  border-left: 1pt solid #675d53;
  margin-right: 50px;
  display: inline;
 }

.container{
  width: 95%;
  font-family: Calibri;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #675d53;
  height: 5px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#675d53;
}

h1{
  font-size: 50pt;
  color: #666f78;
  text-align: center;
  padding: 20px;
}


.writeMessage{
  width: 534px;
  height: 70px;
  border: 1px solid #675d53;
  border-radius: 30px 30px 30px 30px ;
  float: left;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 10px;
}

.titleConversation{
  color: darkcyan;
  cursor: pointer;
  position: static;
  margin-left: 111px;
  margin-top: 30px;
  width: 80%;
  font-family: Calibri;
  font-size: 15pt;
  height: 10%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 20px;
}

.time-left{
  float: left;
  color: #353e47;
  padding: 3px
}

.time-right {
  float: right;
  color: darkgoldenrod;
  padding: 3px;
}

.messageS{
  float: right;
  border-bottom:2pt solid darkgoldenrod;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 20px;
  text-align: right;
}

.messageR{
  border-bottom: 2px solid darkcyan;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  float: left;
  text-align: left;
  margin-left: 20px;
}

.btn{
  background-color:  #0277BD;
  color: white;
  font-size: 13pt;
  float: right;
  height: 70px;
  border-radius: 100%;
  width: 70px;
  margin-top: 10px;
}
