<div class="container" style="display: inline-block" *ngIf="userReceiver!=undefined">
  <div class="titleConversation"  routerLink="/users/profile/{{userReceiver.idUser}}"><b style="margin-left: 30px">
    <img style="border-radius: 50%;width: 60px; height: 60px" src="http://graph.facebook.com/{{userReceiver.facebookId}}/picture?type=large">
    {{userReceiver.name}} {{userReceiver.surname}} </b></div>
  <div class="box" style="float: right">
      <div  *ngFor="let message of messages">
        <div *ngIf="message.idSender==idReceiver" class="messageR">
          <img style="float: left;border-radius: 50%;width: 40px; height: 40px" src="http://graph.facebook.com/{{userReceiver.facebookId}}/picture?type=square">
          <span class="time-left" style="color: darkcyan">

            {{userReceiver.name}} {{userReceiver.surname}}, {{message.msg_timestamp}}</span><br><br>
              <p style="color: #353e47">{{message.msg_text}}</p>
        </div>
        <div *ngIf="message.idSender==idSender" class="messageS">
          <span class="time-right">{{userSender.name}} {{userSender.surname}}, {{message.msg_timestamp}}</span><br><br>
            <p style="color: #353e47">{{message.msg_text}}</p>
        </div>
        <br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  <div style="position: static; margin-left: 120px;
  width: 75%">
    <form [formGroup]="newMessage" (ngSubmit)="sendAMessage()">
      <div >
        <input id="myInput" class="writeMessage" type="text" formControlName="msg_text">
      </div>
      <button type="submit" class="btn" onclick="document.getElementById('myInput').value = ''"><mat-icon style="font-size: 20px">send</mat-icon></button>
    </form></div>
</div>
