.container{
  font-family: Calibri;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.box{
  width: 70%;
  margin-top: 50px;
  background-color: #ffdcbd;
  box-shadow:  10px  10px 5px #675d53,
  -10px -10px 5px #675d53,
  10px -10px 5px #675d53,
  -10px  10px 5px #675d53;
  border-radius: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 130px;
}

.matForm{
  width: 550px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.h1{
  font-size:30pt;
  color: #666f78;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

.title-input{
  font-size: 13pt;
  color: #666f78;
}

.title-radio{
  color: #505961;
  font-size: 10pt;
  margin-right: 10px;
  width: 100px;
}

form{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ingr{
  margin-right: 20px;
}

label{
  margin-right: 5px;
}

.subinput{
  margin-right: 40px;
  padding: 10px;
  width: 50%;
}

.ingredient{
  padding-top: 60px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

.catInput{
  margin-left: 20px;
}


.text-area{
  padding: 20px;
}

mat-form-field{

  width: 200px;
}

.layout{
  width: 50%;
}

.type{
  color: #505961;
}

.form-control{
  width: 100%;
  padding: 20px;
}

.price{
  margin-left: auto;
  margin-right: auto;
}

#euro{
  text-align: left;
}

.subtitle-input{
  color: #505961;
  font-size: 110%;
  margin-left: 15px;

}

.cat{
  margin-right: auto;
  margin-left: auto;
}

.ing{
  text-align: left;
}

#price{
  width: 50%;
}

.radio-button{
  width: 25px;
  height: 25px;
}

.btn-primary{
  font-size: 15px;
  width: 25%;
  height: 10%;
  size: 20px;
  padding: 10px;
  float: right;
  margin-right: 30px;
  margin-top: 40px;
}

.btn{
  margin-bottom: 30px;

}

.primoCerchio{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-size: 15pt;
  padding: 8px;
  font-family: Calibri;
  width:30px;
  text-align: center;
  height: 30px;
  border-radius:50%;
  border:2pt solid #e86c00;
}

.secondBox{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-size: 10pt;
  padding: 8px;
  font-family: Calibri;
  width:30px;
  text-align: center;
  height: 30px;
  border-radius:50%;
  border:2pt solid #675d53;
}
