<app-menu></app-menu>
<div class="container">
  <div *ngIf="request">
    <h1 class="h1">{{request.title}}</h1>
    <div class="box">
          <div class="sottotitolo">
            <p class="minititle"><b>Prodotta da:   </b> <a href="users/profile/{{request.user.idUser}}">{{request.user.name}} {{request.user.surname}}</a></p>
            <p class="minititle"><br><b>In data: </b> {{request.date}}</p><br>
            <p class="minititle"><b>Scadenza prevista:</b>  {{request.expiration}}</p><br>
            <p class="minititle"><b>Numero porzioni: </b>{{request.servings}} </p><p><br>
            <p class="minititle"> <b>Città: </b>{{request.city}}</p><br>
            <p class="minititle"><b>Descrizione</b><br><br> <i>{{request.text}}</i></p>
      <p class="descIns" *ngIf="request.active==true"> L'INSERZIONE È <b style="color: green">IN VENDITA</b></p>
            <p class="descIns" *ngIf="request.active==false"> L'INSERZIONE È <b style="color: red">VENDUTA</b></p></div>
        <button class="btn canc" (click)="delete(request.idRequest)" *ngIf="userId==request.user.idUser">
          <mat-icon>delete</mat-icon>Elimina
        </button>
      <div class="button" *ngIf="userId!=request.user.idUser">
        <mat-button-toggle-group>
          <mat-button-toggle (click)="goToChat(request.user.idUser)">
            <mat-icon>comment</mat-icon>Contatta {{request.user.name}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
