.container{
  width: 85%;
  font-family: "Calibri";
}

.box{
  width: 100%;
  margin-top: 20px;
  display: inline-block;
}
h1{
  margin-top: 40px;
  font-size: 40pt;
  color: #666f78;
  padding: 20px;
}
h2{
  font-size: 20pt;
  color: #505961;
  margin-top: 20px;
}

mat-button-toggle-group{
  margin-top: 30px;float: left;
}

mat-button-toggle{
  background-color: white;
  padding: 10px;

}

.sottotitolo{
  width: 50%;
  padding: 20px;
  float: top;
}

.canc{
  background-color: #a30b0b;
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-size: 13pt;
  height: 60px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}


.image{
  width: 50%;
}

.minititle{
  font-size: 15pt;
}

.desc{
  font-size: 15pt;
  padding: 30px
}

.descIns{
  font-size: 30px;
  padding-top: 30px;
}

.button{
  float: right;
  margin-bottom: 20px;
  margin-right: 100px;
}
