<app-menu></app-menu>
<div class="box">
  <section>
    <form>
      <div class="form" [formGroup]="searchRequest" style="display: inline-block">
        <div  style="display: inline; width: 80%; float: left">
          <mat-radio-group formControlName="course"  aria-label="Seleziona una portata">
            <label class="title-form">Seleziona una portata:</label><br>
            <mat-radio-button value="" checked>Tutti</mat-radio-button>
            <mat-radio-button  value="apetizer"> Aperitivo</mat-radio-button>
            <mat-radio-button  value="fruit" > Frutta</mat-radio-button>
            <mat-radio-button value="first"  > Primi Piatti</mat-radio-button>
            <mat-radio-button   value="second"  >Secondi Patti</mat-radio-button>
            <mat-radio-button  value="dessert" >Dolce</mat-radio-button>
          </mat-radio-group><br>
          <label class="title-form">Cosa Vorresti Mangiare?</label>
          <mat-form-field style="margin-right: 90px">
            <input matInput class="type" type="text" name="cibo"  formControlName="title">
          </mat-form-field>
          <label class="title-form">Dove?</label>
          <mat-form-field>
            <input matInput class="type" type="text" name="city"  formControlName="city">
          </mat-form-field><br></div>
        <button (click)="search()" class="btn " onclick="document.getElementsByTagName('input').value = ''"><mat-icon>search</mat-icon>Cerca</button>
      </div>
    </form>

    <app-vetrina-without-image [requests]="requests"></app-vetrina-without-image>
  </section>
</div>
