.box{
  font-family: Calibri;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

.form{
  padding:20px;
  margin-left: 3%;
  margin-right: auto;
  width: 100%;
  border-radius: 20px;
  box-shadow:  10px  10px 5px #675d53;
}

form{
  margin-top: 40px;
  background-color: #ffdcbd;
  width: 90%;
  margin-left: 20px;
}

.name{
  font-size: 10px;

}

.item-insertion{
  border: 2pt solid brown;
  border-radius: 30px 30px 30px 30px;
}

img{
  border-radius: 30px 30px 30px 30px;
  width:300px; height:300px;
  padding: 10px;
}

a{
  margin-top: 5px;
}

.immagine{
  float:left;
  margin-right: 20px;
}

.description  {

}

h1{
  margin-top: 40px;
  font-size: 40pt;
  color: #666f78;
  padding: 20px;
}


.title-form{
  font-size: 15px;
  color:#505961;
}

mat-radio-button{
  font-size: 13px;
  padding: 10px;
  margin-left: 10px;
  color:#666f78 ;
}

.type{
  width: 270px;
}

.portata{
  float: left;
  padding: 30px;
}


.check-portata{
  padding-top: 10px;
  padding-left: 30px;
}

.title{
  margin-top: 20px;
  font-size: 10px;
}

.ricerca{
  padding: 30px;
}

.vetrina{
  padding-top: 50px;
}

.img{
  height: 87px;
  width: 54px;
  float: left;
}

.list{
  display: inline;
}


a{
  color: black;
  font-family: Arial;
}

.desc{
  margin-top: 0px;
}

.btn{
  color: black;
  background-color: white;
  border-color: black;
  font-family: Calibri;
  float: right;
  margin-top:60px;
  width: 120px;
  height: 50px;
  font-size: 15px;
  display: inline;
  margin-left: 60px;
  width: 10%;
}

.searchColumn{
  width: 45%;
}

.secondColumn{
  width: 30%;
  float: top;
}
