<app-menu></app-menu>
<section class="container">
  <h1 class="h1"> Vendi un piatto</h1>
  <div style="width: 100%;text-align: center; display: inline-block">
    <div class="primoCerchio">1</div><mat-icon style="width: 50px">arrow_forward</mat-icon><div class="secondBox">2</div>
  </div>
  <form class="box" (ngSubmit)="save()">
    <div [formGroup]="newInsertion">
      <table>
      <tr class="input" >
        <td class="subinput">
        <label class="title-input">Titolo</label>
        <mat-form-field>
          <input matInput type="text" class="type" id="title" formControlName="title">
        </mat-form-field>
        </td>
        <td class="subinput">
          <label class="title-input">Porzioni</label>
          <mat-form-field style="width: 206px">
            <input class="type" matInput type="text" id="servings" formControlName="servings">
          </mat-form-field>
        </td>

      </tr>
      <tr class="input">
        <td class="subinput">
          <label class="title-input">Città</label>
          <mat-form-field style="width: 210px">
            <input matInput type="text" class="type" id="city" formControlName="city">
          </mat-form-field>
        </td>
        <td class="subinput">
        <label class="title-input">Scadenza</label>
          <mat-form-field>
          <input matInput [matDatepicker]="picker" name="expiration" id="expiration" formControlName="expiration" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
        <tr>
      <td class="subinput">
        <label class="title-input">Prezzo</label>
        <mat-form-field style="width: 195px">
          <input matInput type="text" class="type" id="price" formControlName="price">
        </mat-form-field>€
     </td>
      </tr>
      </table>
      <div class="text-area">
        <label class="title-input">Descrizione<br>
          <mat-form-field class="matForm" appearance="fill">
            <mat-label class="title-input"></mat-label>
            <textarea matInput rows="10" cols="30" formControlName="description"></textarea>
          </mat-form-field></label><br>
      </div>
      <div class="catInput">
        <label class="title-input cat">Categoria<br><br>
          <mat-radio-group class="category" formControlName="course" >
            <mat-radio-button class="title-radio"  value="appetizer">Antipasto</mat-radio-button>
            <mat-radio-button class="title-radio"  value="first">Primo Piatto</mat-radio-button>
            <mat-radio-button  class="title-radio"  value="second">Secondo Piatto</mat-radio-button>
            <mat-radio-button  class="title-radio" style="margin-left: 10px; margin-right: 5px" value="fruit">  Frutta</mat-radio-button>
            <mat-radio-button class="title-radio"  value="dessert">Dolce</mat-radio-button>
          </mat-radio-group></label>
      </div>
      <div class="catInput ingredient" formArrayName="ingredients">
        <label class="title-input">
          Ingredienti</label>
        <div class="row">
        <div  *ngFor="let ingredient of ingredients.controls; let i=index">
          <label class="subtitle-input">Ingrediente {{i+1}}</label>
          <mat-form-field style="margin-right: 20px; width: 150px">
            <input matInput class="type" type="text" [formControlName]="i"></mat-form-field>
        </div>
        </div>
        <button type="button" class="btn" (click)="addIngredients()">Aggiungi Ingrediente</button>
      </div>
      <div class="button">
      <button class="btn btn-primary" type="submit" >Inserisci<br>immagine</button>
      </div>
    </div>
  </form>
</section>
