.h1{
  font-size: 40pt;
  color: #666f78;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.title-input{
  font-size: 130%;
  height: 50px;
  color: #666f78;
}

.input{
  border-radius: 20px 20px 20px 20px;
}

.container{
  font-family: Calibri;

}

.form-group{
  cursor: pointer;
}

.upload{
  margin-top: 40px;
  padding: 30px;
  padding-bottom: 60px;
  border-bottom: 2pt solid #675d53;
  margin-bottom: 20px;
  margin-top: 30px;
}


.btn-primary{
  float: right;
  width: 30%;
}

.secondBox{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-size: 15pt;
  padding: 8px;
  font-family: Calibri;
  width:40px;
  text-align: center;
  height: 40px;
  border-radius:50%;
  border:2pt solid #e86c00;
  color: #e86c00;
}

.primoCerchio{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-size: 10pt;
  padding: 8px;
  font-family: Calibri;
  width:30px;
  text-align: center;
  height: 30px;
  border-radius:50%;
  border:2pt solid #675d53;
}
