<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="h1">Scegli Immagine</h1>
      <div style="width: 100%;text-align: center; display: inline-block">
        <div class="primoCerchio">1</div><mat-icon style="width: 50px">arrow_forward</mat-icon><div class="secondBox">2</div>
      </div>
      <div class="upload">
      <div class="form-group"><label class="title-input">Scegli il file</label>
        <input type="file"  name="image" (change)="fileProgress($event)" />
      </div>
      <div *ngIf="fileUploadProgress">
        Inserimento in corso: {{ fileUploadProgress }}
      </div>
      <div class="image-preview mb-3" *ngIf="previewUrl">
        <img [src]="previewUrl" height="100%" width="100%" />
      </div>

      <div class="mb-3" *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary"  (click)="onSubmit()">Salva</button>
      </div>
    </div>
  </div>
  </div>
</div>
