<div class="box">
  <div class="title">Home Chef</div>
  <div class="logo">
  </div><br>
  <div *ngIf="socialuser!=null">
    <img class="imageUser" [src]="img"><br>
    <label>{{socialuser.name}}</label><br>
    <button class="link" (click)="goLogin()"><h2>Non sei tu?</h2></button><br>
    <button class="btn btn-primary" (click)="goHome()">Continua</button>
  </div>
  <div *ngIf="socialuser==null">
    <button class="btn btn-primary fb-btn" (click)="fbLogin()"><i class="fa fa-facebook-square fa-2x" aria-hidden="true" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></i> Continue With Facebook</button>
  </div>
</div>
