.box{
  background-color: #ffdcbd;
  text-align: center;
  font-family: "Calibri";
  border-radius: 30px 30px 30px 30px;
  padding: 30px;
}

.imageUser{
  border-radius: 50%;
  width: 15%;
}

.link{
  border: 3pt solid #ffdcbd;
  background-color: #ffdcbd;
  color: #505961;
}

.title{
  font-family: Monaco;
  font-style: italic;
  font-size:5vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #675d53;
}

.logo{
  background-image: url("img/logo3Trasparente.png") ;
  background-repeat: no-repeat;
  width: 600px;
  height: 514px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;

}

.login{
  padding: 50px;
}

h1{
  color: dodgerblue;
  font-size: 80pt;
}
img{
  width: 100%;
  height: 100%;

}

h3{
  font-family: "Calibri";

}
