<app-menu></app-menu>
<div class="box">
  <div>
  <app-chats-of-auser style="float: left; width: 20%" [receiver]="idReceiver" [userId]="userId" [messageMap]="messageMap" [conversUsers]="conversUsers"></app-chats-of-auser>
    <app-chat style="float: right; width: 80%"  [idSender]="userId" [idReceiver]="idReceiver" ></app-chat></div>
</div>
