.form{
  padding: 50px;
}

.name{
  font-size: 15px;
}

.itemTrue{
  cursor: pointer;
  border-bottom: 1pt solid #675d53;
  margin-bottom: 30px;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.itemTrue:hover{
  border-radius: 20px;
  box-shadow: 2px 2px 1px #675d53;
}

img{
  border-radius: 30px 30px 30px 30px;
  width:200px; height:150px;
  float: left;
  display: inline;
}

a{
  margin-top: 5px;
}

.immagine{
  margin-top: 10px;
  width: 200px;
  height: 150px;
  display: inline;
}

.description  {
  display: inline;
  margin-left: 30px;
}


h1{
  margin-top: 40px;
  font-size: 50pt;
  color: #666f78;
  text-align: center;
  padding: 20px;
}

.radio-button{
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.title-form{
  font-size: 18px;
  color:#505961;
}

mat-radio-button{
  font-size: 15px;
  padding: 20px;
  margin-left: 50px;
  color:#666f78 ;
}

.type{
  width: 270px;
}

.portata{
  float: left;
  padding: 30px;
}


.check-portata{
  padding-top: 10px;
  padding-left: 30px;
}

.title{
  font-family: Calibri;
  margin-top: 10px;

  margin-left: 0px;
  font-size: 30px;
}

b{
  margin-left: 30px;
}

.p{
  margin-left: 30px;
}

.ricerca{
  padding: 30px;
}

.vetrina{
  font-family: Calibri;
  width: 90%;
  padding-top: 50px;
  margin-right: auto;
  margin-left: 20px;
}

.img{
  height: 87px;
  width: 54px;
  float: left;
  padding-right: 30px;
}

.list{
  display: inline;
}


a{
  color: black;

}

.btn{
  color: black;
  background-color: white;
  border-color: black;

  float: right;
  margin-top: 30px;
  width: 120px;
  height: 50px;
  font-size: 20px;
  margin-right: 100px;
}

.searchColumn{
  width: 45%;
}

.secondColumn{
  width: 30%;
  float: top;
}
