<div class="vetrina" >
  <div class="item-insertion" *ngFor="let insertion of insertions">
    <div class="itemTrue" routerLink="/insertions/{{insertion.idInsertion}}">
      <div  class="immagine" >
        <div class="title">{{insertion.title}}</div><br>
        <img [src]="this.imagestoShow.get(insertion.idInsertion)">
      </div>
      <div class="description">
        <i>    {{insertion.city}}, {{insertion.date}}</i><br>
        <b>   Prodotto da:</b><a class="name" routerLink="/users/profile/{{insertion.user.idUser}}">     {{insertion.user.name}} {{insertion.user.surname}}</a><br>
       <b>    Descrizione:</b> {{insertion.description}}<br>
        <b>   Ingredienti:</b>  {{insertion.ingredients}} <br>
        <b>   Prezzo:</b>    € {{insertion.price}}<br>
         <b>    L'inserzione è:</b> <b *ngIf="insertion.published==true" style="color: green">    IN VENDITA</b>
          <b *ngIf="insertion.published==false" style="color: red">VENDUTA</b>
      </div>
    </div>
  </div>
</div>
